.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #49111c;
}
  
.meal h3 {
    margin: 0 0 0.25rem 0;
    color: #0a0908;
}
  
.description {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #0a0908;
}
  
.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}